body{
    background-image: url(web3.jpeg);
    background-size: 1200px 500px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 125px;}
    
    

    